<link rel="stylesheet" href="../web/static/css/elements.css">

<div class="modal">
    <div class="modal-content course-modal">
        <span class="modal-close" onclick="this.closest('.modal').remove()">✖</span>
        <div class="course-modal-body">
            <div class="course-details">
                <h2 class="course-title">Название курса</h2>
                <span class="course-category">Статистика какая-то</span>

                <div class="course-description">
                    <h3>Описание курса</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis corporis ea, facere fuga harum, iure magnam nemo neque perferendis perspiciatis possimus provident quasi quis sequi soluta sunt ullam veniam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis corporis ea, facere fuga harum, iure magnam nemo neque perferendis perspiciatis possimus provident quasi quis sequi soluta sunt ullam veniam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis corporis ea, facere fuga harum, iure magnam nemo neque perferendis perspiciatis possimus provident quasi quis sequi soluta sunt ullam veniam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis corporis ea, facere fuga harum, iure magnam nemo neque perferendis perspiciatis possimus provident quasi quis sequi soluta sunt ullam veniam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis corporis ea, facere fuga harum, iure magnam nemo neque perferendis perspiciatis possimus provident quasi quis sequi soluta sunt ullam veniam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis corporis ea, facere fuga harum, iure magnam nemo neque perferendis perspiciatis possimus provident quasi quis sequi soluta sunt ullam veniam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis corporis ea, facere fuga harum, iure magnam nemo neque perferendis perspiciatis possimus provident quasi quis sequi soluta sunt ullam veniam.</p>
                </div>

                <div class="modal-actions">
                    <button id="btn-close" class="primary-btn btn-huge" onclick="this.closest('.modal').remove()">Закрыть</button>
                    <button id="btn-buy" class="accent-btn btn-huge">Купить</button>
                </div>
            </div>
        </div>
    </div>
</div>