<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система тестирования | 3D-Академия - курсы по 3D-печати</title>
    <link rel="icon" href="/web/static/img/favicon.ico">
    <link rel="stylesheet" href="/web/static/notify/simple-notify.css" />
    <link rel="stylesheet" href="/web/static/css/main.css" />
    <link rel="stylesheet" href="/web/static/css/test.css" />
</head>
<body>
{{template "header" .}}

<main class="test-container">
    <div class="test-header">
        <h3 class="test-title">Загрузка теста...</h3>
        <div class="test-time">Оставшееся время: <span id="time">30:00</span></div>
    </div>

    <div class="question-navigation-wrapper">
        <div class="question-navigation">
            <label class="question-label">
                <input class="question-number" type="radio" name="question" value="1" checked />
                <span>1</span>
            </label>
            <label class="question-label active">
                <input class="question-number" type="radio" name="question" value="2" />
                <span>2</span>
            </label>
            <label class="question-label active">
                <input class="question-number" type="radio" name="question" value="3" />
                <span>3</span>
            </label>
            <label class="question-label">
                <input class="question-number" type="radio" name="question" value="4" />
                <span>4</span>
            </label>
            <label class="question-label">
                <input class="question-number" type="radio" name="question" value="5" />
                <span>5</span>
            </label>
            <label class="question-label">
                <input class="question-number" type="radio" name="question" value="6" />
                <span>6</span>
            </label>
            <label class="question-label">
                <input class="question-number" type="radio" name="question" value="7" />
                <span>7</span>
            </label>
            <label class="question-label">
                <input class="question-number" type="radio" name="question" value="8" />
                <span>8</span>
            </label>
        </div>
    </div>

    <div class="question-box">
        <div class="question-text">1. Загрузка теста....</div>
    </div>

    <div class="answers-box">
        <div class="answers-title">Варианты ответов (один ответ):</div>
        <ul class="answers-list">
            <li><label><input type="radio" name="answer" />-</label></li>
            <li><label><input type="radio" name="answer" />-</label></li>
            <li><label><input type="radio" name="answer" />-</label></li>
            <li><label><input type="radio" name="answer" />-</label></li>
        </ul>
    </div>

    <div class="test-buttons">
        <button id="next-button" class="accent-btn btn-huge">Далее</button>
        <button id="finish-button" class="primary-btn btn-huge" onclick="forceFinishModal()">Завершить тест</button>
    </div>
</main>

<script src="/web/static/js/test.js"></script>

</body>
</html>