<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{"Название теста"}} | Курсы по 3D-печати</title>
    <link rel="stylesheet" href="/web/static/notify/simple-notify.css" />
    <link rel="stylesheet" href="/web/static/css/main.css" />
    <link rel="stylesheet" href="/web/static/css/elements.css" />
    <link rel="stylesheet" href="/web/static/css/test.css" />
    <meta http-equiv="refresh" content="3" />
</head>
<body>
{{template "header" .}}

<main class="test-container">
    <div class="test-title">Название теста</div>

    <div class="question-navigation-wrapper">
        <div class="question-navigation">
            <button class="question-number active">1</button>
            <button class="question-number active">2</button>
            <button class="question-number active">3</button>
            <button class="question-number active">4</button>
            <button class="question-number active">5</button>
            <button class="question-number active">6</button>
            <button class="question-number">7</button>
            <button class="question-number">8</button>
            <button class="question-number">9</button>
            <button class="question-number">10</button>
            <button class="question-number">11</button>
            <button class="question-number">12</button>
            <button class="question-number">13</button>
            <button class="question-number">14</button>
            <button class="question-number">15</button>
            <button class="question-number">16</button>
            <button class="question-number">7</button>
            <button class="question-number">8</button>
            <button class="question-number">9</button>
            <button class="question-number">10</button>
            <button class="question-number">11</button>
            <button class="question-number">12</button>
            <button class="question-number">13</button>
            <button class="question-number">14</button>
            <button class="question-number">15</button>
            <button class="question-number">16</button>
            <button class="question-number">7</button>
            <button class="question-number">8</button>
            <button class="question-number">9</button>
            <button class="question-number">10</button>
            <button class="question-number">11</button>
            <button class="question-number">12</button>
            <button class="question-number">13</button>
            <button class="question-number">14</button>
            <button class="question-number">15</button>
            <button class="question-number">16</button>
        </div>
    </div>

    <div class="question-box">
        <div class="question-text">Вопрос<br />может длинный</div>
    </div>

    <div class="answers-box">
        <div class="answers-title">Варианты ответов (один ответ):</div>
        <ul class="answers-list">
            <li><label><input type="radio" name="answer" /> вариант 1</label></li>
            <li><label><input type="radio" name="answer" /> вариант 2</label></li>
            <li><label><input type="radio" name="answer" /> вариант 3</label></li>
            <li><label><input type="radio" name="answer" /> вариант 4</label></li>
        </ul>
    </div>

    <div class="test-buttons">
        <button class="next-button">Далее</button>
        <button class="finish-button">Завершить тест</button>
    </div>
</main>

<script async src="/web/static/js/test.js"></script>

</body>
</html>