<link rel="stylesheet" href="../web/static/css/elements.css">
<link rel="stylesheet" href="../web/static/css/test.css">


<div class="modal" id="forceFinishModal">
    <div class="modal-content force-finish-modal">
        <span class="modal-close" onclick="this.closest('.modal').remove()">✖</span>

        <h2 class="modal-title">Завершить тест досрочно?</h2>

        <div class="modal-body">
            <p>Вы уверены, что хотите завершить тест прямо сейчас?</p>
            <p>Ответы на незавершённые вопросы будут засчитаны как пустые.</p>
        </div>

        <div class="modal-actions">
            <button class="modal-button primary" onclick="forceFinishTest()">Завершить</button>
            <button class="modal-button cancel" onclick="this.closest('.modal').remove()">Отмена</button>
        </div>
    </div>
</div>
