<header>
    <div><a href="#" style="color: white; text-decoration: none; font-weight: bold;">3D-КУРСЫ</a></div>
    <nav>
        <a href="#">Каталог курсов</a>
        <a href="#">Домашние задания</a>
        <a href="#">Стартовый набор</a>

    </nav>
    {{if .isAuthenticated}}
        <button id="profile">Профиль</button>
    {{else}}
        <div class="auth-buttons">
            <button id="loginBtn">Войти</button>
            <button id="registerBtn">Регистрация</button>
        </div>
    {{end}}
</header>