<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>3D-Академия - курсы по 3D-печати</title>
    <link rel="stylesheet" href="/web/static/css/main.css">
    <link rel="stylesheet" href="/web/static/css/auth.css">
    <link rel="stylesheet" href="/web/static/notify/simple-notify.css"/>
</head>
<body>
{{template "header" .}}

<main id="main" class="container">
    <h1 class="main-header">3D-печать с нуля: первые идеальные<br>модели уже через 3 дня</h1>
    <div class="content">
        <div class="description">
            <p>
                Хотите освоить 3D-печать быстро и без лишних проб и ошибок? Наша Академия предлагает уникальные курсы, где вы с первого дня научитесь создавать безупречные модели. Больше не нужно тратить недели на изучение форумов — мы даем только проверенные практикой знания.
            </p>
            <p>
                Чтобы начать было еще проще, мы подготовили Стартовый набор 3D-мастера. В него входит все необходимое: от калибровочных инструментов до образцов лучшего филамента. С этим набором вы избежите 90% типичных проблем новичков и сразу перейдете к интересному — созданию собственных проектов. Это как "чайник" для 3D-печати, но без воды — только сухие факты и рабочие инструменты.
            </p>
            <a id="mainBtn" class="accent-btn btn-huge" href="/starter-kit"><span class="flare"></span>Приобрести
                стартовый набор</a>
        </div>
        <div class="image"><img
                src="https://s.yimg.com/ny/api/res/1.2/yzX93lbD80VQlgM9LJmgjw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTU0MA--/https://media.zenfs.com/en/Benzinga/ce1ec5a318ffbcdf41f17e0675e7c5c0"
                alt="Пример изображения"></div>
    </div>

    <h1>Онлайн-курсы по 3D-печати</h1>
    <div id="courses" class="courses-grid">

        {{ range .items }}
        <div class="course-card">
            <h3>{{ .CourseTitle }}</h3>
            <div class="description">{{ .ShortDescription }}</div>
            <div class="details">{{ .NumberOfParticipants }} учеников • {{ .Duration }} ч • Автор: <a href="https://t.me/{{ .AuthorTgUsername }}">{{ $parts := split .AuthorName " " }}{{ index $parts 0 }} {{ index $parts 1 }}
                <svg width="12px" height="12px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                    <polyline points="8.25 2.75,2.75 2.75,2.75 13.25,13.25 13.25,13.25 7.75"/>
                    <path d="m13.25 2.75-5.5 5.5m3-6.5h3.5v3.5"/>
                </svg>
            </a></div>

            {{if not .IsBought}}
                <div class="price">{{ printf "%.0f" .Price }} ₽</div>
            {{end}}
            <div class="courses-buttons">
                {{if .IsBought}}
                    <div style="color: #999999; font-size: 1.2rem; flex: 1;">✔ Приобретено</div>
                    <a style="flex: 1;" class="redirect-btn accent-btn" href="/course/{{ .ID }}">Перейти</a>
                {{else}}
                    <button class="about-btn primary-btn" onclick="openAboutModal({{.CourseTitle}}, {{.AuthorName}}, {{.FullDescription}}, {{ .ID }}, {{ $.isAuthenticated}})">
                        Подробнее
                    </button>
                    {{if $.isAuthenticated}}
                    <button class="buy-btn outline-btn" onclick="openPurchaseModal({{.CourseTitle}}, {{.ID}})">Купить</button>
                    {{else}}
                    <button class="buy-btn outline-btn" onclick="openAuthModal('login')">Купить</button>
                    {{end}}
                {{end}}
            </div>
        </div>
        {{ end }}
    </div>

    <div class="banner">
        <img src="https://s3.objstor.cloud4u.com/unti-prod-people/file/presentation/project/ftx97l9vip.jpg" alt="">
    </div>
</main>

{{template "footer" .}}

<script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-816daf2a-38c6-435c-b3a4-fe1e80aafd27" data-elfsight-app-lazy></div>

<script src="/web/static/js/app.js"></script>
<script src="/web/static/js/utils.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.3/lottie.min.js"></script>

</body>
</html>
