<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Пользовательское соглашение | 3D-Академия - курсы по 3D-печати</title>
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/web/static/css/main.css">
  <link rel="stylesheet" href="/web/static/css/auth.css">
  <link rel="stylesheet" href="/web/static/notify/simple-notify.css"/>
</head>
<body>
{{template "header" .}}

<main id="main" class="container">
  <h1>Пользовательское соглашение</h1>
  <p style="white-space: pre-wrap; line-height: 1.5">
    «Организатор», предлагает для приобретения Курсы, размещенные на Сайте (проводимые посредством Сайта) любому дееспособному физическому/юридическому лицу (Индивидуальному предпринимателю), именуемому в дальнейшем «Пользователь» в случае принятия последним условий настоящего Договора и его приложений (Безусловный акцепт).
    Настоящий Договор не требует двустороннего подписания и действителен в электронном виде.

    <strong>Оглавление</strong>
    1. Предмет Договора 3
    2. Момент заключения Договора. Оформление Заказа 3
    3. Характеристики Курса
    3. Стоимость Курса
    5. Оплата Курса
    6. Гарантии Организатора
    7. Права и обязанности Сторон
    8. Ответственность Сторон и разрешение споров
    9. Форс-мажорные обстоятельства
    10. Срок действия Договора
    11. Согласие на обработку Персональных данных Пользователя
    12. Иные положения

    <strong>ТЕРМИНЫ</strong>

    В целях настоящего Договора Стороны используют указанные термины в следующем значении:
    a.Система SYNTHESIS.MOSCOW (далее также «Система») – информационная система, доступная на Сайте, позволяющая Пользователю подписываться на вебинары, учебные курсы, тесты и иной контент опубликованный на Сайте
    Система включает в себя интерфейс, программное обеспечение, Сайт и иные элементы, необходимые для надлежащего функционирования. Ни одно из положений настоящего Соглашения не может трактоваться как передача (отчуждение) исключительных прав на Систему.
    b.Курс – аудиовизуальное произведение, онлайн трансляции семинара (запись , а также и иной объект, доступный для Заказа Пользователем, информация о котором размещена на Сайте.
    c.Заказ – оформленный запрос на приобретение Курса, выбранного Пользователем на Cайте.
    d.Форма Заказа – форма, расположенная на Сайте, предназначенная для заполнения Пользователем с целью приобретения Курса.
    e.Пользователь – любое дееспособное физическое (юридическое) лицо, индивидуальный предприниматель, акцептировавший настоящий Договор.
    f.Владелец Системы – ООО “3D-Академия” (ОГРН: 1240200036450), с которым у Организатора и Пользователя заключено Лицензионное соглашение.
    g.Правообладатель – лицо, которому принадлежат интеллектуальные права на Курс.
    h.Акцепт Договора (Безусловный акцепт) – в соответствии со ст. 438 ГК РФ, полное и безоговорочное принятие Договора, осуществляемое путем заполнения и отправки Формы Заказа.
    i.Персональные данные (ПДн) – информация, относящаяся к Пользователю –физическому лицу, в том числе указанная им при оформлении Заказа.
    j.Обработка персональных данных – действия (операции), производимые в ручном или автоматическом режиме с персональными данными, включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передача), обезличивание, блокирование и уничтожение персональных данных.
    k.Аналог собственноручной подписи – проставление отметки (галочки) в окошке «Ознакомлен и согласен с условиями Пользовательского соглашения (публичной оферты)», размещенной на сайте https://3d-academy.online/, а также при оформлении Заказа.
    l.Личный кабинет – совокупность защищенных страниц на Сайте, создаваемых при Регистрации Пользователя или Организатора, посредством которой осуществляется использование Сервиса и взаимодействие Сторон. Порядок создания и использования Личного кабинета устанавливается Лицензионным соглашением.
    m.Законодательство РФ – действующее законодательство Российской Федерации.

    <strong>1. Предмет Договора</strong>

    1.1. В соответствии с условиями настоящего Договора Пользователь приобретает Курс проводимый Организатором на Сайте (либо запись Курса), а Организатор обязуется предоставить доступ Пользователю к оплаченному Курсу.
    1.2. Совершая Заказ, Пользователь гарантирует, что полностью ознакомился с текстом настоящего Договора, описанием Курса и принимает его условия.
    1.3. Совершая Заказ, Пользователь подтверждает свою дееспособность, а также правомочия на совершение Заказа.

    <strong>2. Момент заключения Договора. Оформление Заказа</strong>

    2.1. Текст данного Договора является публичной офертой (в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ).
    2.2. Факт отправки Заказа на Сайте является безоговорочным принятием данного Договора (безусловным акцептом), и Пользователь рассматривается как лицо, вступившее с Организатором в договорные отношения.
    2.3. Выражая согласие с условиями настоящего Договора в порядке, предусмотренном п. 2.1, Пользователь подтверждает, что действует не в интересах третьих лиц, а исключительно от своего имени и в собственных интересах.
    2.4. Оформление Заказа осуществляется путем выбора соответствующего Курса на Сайте. В завершении оформления Заказа Пользователь заполняет и отправляет Форму Заказа с указанием следующих параметров:
    a)контактный телефон Пользователя;
    b)адрес электронной почты Пользователя;
    2.4.1. Все поля Формы Заказа обязательны для заполнения Пользователем. Организатор не проверяет достоверность и актуальность данных, указанных Пользователем.
    2.4.2. Пользователь не имеет права указывать в Форме заказа данные третьих лиц.
    2.5. Заказ считается совершенным после отправки Формы Заказа и оплаты Курса.
    2.6. До момента оформления Заказа и заключения настоящего Договора Пользователь обязуется ознакомиться:
    2.6.1. С основными характеристиками Курса, указанными на Сайте.
    2.6.2. Способами оплаты Курса. Указанная информация расположена на Сайте по адресу https://3d-academy.online/.
    2.6.3. Контактными данными Организатора.

    <strong>3. Характеристики Курса</strong>

    3.1. Каждый Курс представлен на Сайте через аудиовизуальное произведение с информацией о Курсе, его описанием, о теме и продолжительности занятий, о продолжительности Курса, преподавателях Курса, количестве бесплатных занятий в рамках курса, количестве и названии дополнительных материалов (текстовых, графических) в составе Курса.
    3.1.1. Курс может быть представлен в виде онлайн занятий или в виде записи.
    3.2. Вся информация и характеристики Курса, представленные на Сайте, носят справочный характер и не могут в полной мере передавать информацию о свойствах и характеристиках Курса. В случае возникновения у Пользователя вопросов, касающихся свойств и характеристик Курса, Пользователь должен перед оформлением Заказа обратиться к Организатору по электронной почте, указанной на Сайте.
    3.3. Организатор не несет ответственности за несоответствие Курса ожиданиям Пользователя.

    <strong>4. Стоимость Курса</strong>

    4.1. Стоимость Курса определяется Организатором и указывается в рублях.
    4.2. Указанная на Сайте стоимость Курса может быть изменена Организатором в одностороннем порядке, при этом стоимость на заказанный Пользователем Курс изменению не подлежит.
    4.3. Владелец Системы не устанавливает стоимость Курса.

    <strong>5. Оплата Курса</strong>

    5.1. Пользователь оплачивает Курс способами, указанными на Сайте.
    5.2. Обязанность Пользователя по оплате Курса считается исполненной с момента зачисления соответствующих денежных средств в размере 100% (ста процентов) предоплаты на счет Организатора или счет Оператора платежных систем.
    5.3. Организатор предоставляет доступ к Курсу Пользователю только после поступления оплаты с учетом дат проведения Курса, указанных на Сайте.
    5.3.1. В случае, если Пользователь приобретает запись Курса Организатор направляет Пользователю ссылку на запись или предоставляет доступ к записи на Сайте.
    5.3.1. Просрочка оплаты Пользователем цены Товара на срок свыше 5 (пяти) календарных дней с момента Заказа Курса является существенным нарушением настоящего Договора. В этом случае Организатор вправе в одностороннем внесудебном порядке отказаться от исполнения настоящего Договора (изменить стоимость курса), уведомив об этом Пользователя.
    5.4. Пользователь за свой счет оплачивает комиссии (сборы), взимаемые кредитными организациями (платежными системами) при осуществлении оплаты.

    <strong>6. Гарантии Организатора</strong>

    6.1. Организатор подтверждает, что все Курсы, размещенные на Сайте, являются объектами интеллектуальных прав и продаются в соответствии с Законодательством РФ и не нарушают права третьих лиц.
    6.2. Организатор Курса является Правообладателем либо лицом, имеющим договор с Правообладателем на продажу Курса.

    <strong>7. Права и обязанности Сторон</strong>

    7.1. Организатор обязуется:
    7.1.1. Не разглашать Персональные данные Пользователя и не предоставлять доступ к этой информации третьим лицам за исключением случаев, прямо предусмотренных Законодательством и настоящим Договором.
    7.1.2. Предоставить Пользователю доступ к Курсу.
    7.2. Пользователь обязуется:
    7.2.1. До момента заключения Договора ознакомиться с содержанием настоящего Договора, характеристиками Курса.
    7.2.2. Предоставлять достоверную информацию о себе (Ф. И. О., контактные телефоны, адрес электронной почты).
    7.3. Услуги по предоставлению Курса считаются оказанными:
    a)в случае предоставления записи Курса с момента предоставления Пользователю доступа к Курсу. Отказ от использования записи не допускается.

    <strong>8. Ответственность сторон и разрешение споров</strong>

    8.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение настоящего Договора в порядке, предусмотренном настоящим Договором и Законодательством.
    8.2. Организатор не несет ответственности, если ожидания Пользователя о свойствах Курса оказались неоправданны или полученные знания не смогли быть применены Пользователем на практике.
    8.3. Все споры и разногласия, возникающие при исполнении Сторонами обязательств по настоящему Договору, решаются путем переговоров. В случае невозможности их устранения Стороны имеют право обратиться за судебной защитой своих интересов.
    8.4. Владелец Системы не является стороной отношений между Пользователем и Организатором и не отвечает за неисполнение (ненадлежащее исполнение) Пользователем (Организатором) своих обязательств по настоящему Договору.
    8.5. Все претензии направляются Пользователем в письменном виде на адрес Организатора, указанный на странице Курса.

    <strong>9. Форс-мажорные обстоятельства</strong>

    9.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору на время действия непреодолимой силы. Под непреодолимой силой понимаются чрезвычайные и непреодолимые при данных условиях обстоятельства, препятствующие исполнению своих обязательств Сторонами по настоящему Договору. К ним относятся стихийные явления (землетрясения, наводнения и т. п.), обстоятельства общественной жизни (военные действия, чрезвычайные положения, крупнейшие забастовки, эпидемии и т. п.), запретительные меры государственных органов (запрещение перевозок, валютные ограничения, международные санкции запрета на торговлю и т. п.). В течение этого времени Стороны не имеют взаимных претензий, и каждая из Сторон принимает на себя свой риск последствия форс-мажорных обстоятельств.
    9.2. Форс-мажорным обстоятельством в том числе признаются технические сбои в работе Сервиса, которые приводят к искажению информации (в том числе информации о стоимости, свойствах Курса).
    В случае если Заказ был сделан в период технического сбоя, Организатор при подтверждении Заказа сообщает Пользователю достоверную информацию.

    <strong>10. Срок действия Договора</strong>

    10.1. Договор вступает в силу с момента Безусловного акцепта Пользователем и действует до исполнения обязательств Сторонами.

    <strong>11. Согласие на обработку Персональных данных Пользователя</strong>

    11.1. Оформляя Заказ на Сайте, Пользователь подтверждает свое согласие на обработку Организатором своих персональных данных.
    11.2. Перечень персональных данных, на обработку которых дается согласие:
    a)контактный телефон;
    b)адрес электронной почты;
    11.3. Настоящее согласие действует бессрочно, срок хранения персональных данных Пользователя не ограничен.
    11.4. При обработке персональных данных Пользователя Организатор руководствуется Федеральным законом РФ «О персональных данных» № 152-ФЗ от 29.07.2006.
    11.5. Пользователь имеет право отозвать свое согласие посредством составления соответствующего письменного документа, который может быть направлен Пользователем в адрес Организатор а по почте заказным письмом с уведомлением о вручении либо вручен лично под расписку уполномоченному представителю Организатора. В случае получения письменного заявления об отзыве настоящего согласия на обработку персональных данных Организатор обязан прекратить их обработку.
    11.6. Пользователь осознает и дает согласие, что в результате сбоя, технических неисправностей, действий третьих лиц, в том числе (но не ограничиваясь) вирусной или хакерской атаки, данные Пользователя, размещенные на Сервисе, могут стать доступны третьим лицам. Пользователь обязуется не предъявлять требований к Организатору о возмещении убытков (ущерба), возникших в связи с этим.
    11.7. Пользователь дает согласие на:
    11.7.1. Хранение персональных данных на сервере Организатора (в том числе вне территории Российской Федерации).
    11.7.2. Использование персональных и статистических данных Организатором для демонстрации рекламных объявлений.
    11.7.3. Обработку персональных данных, необходимых для выполнения Организатором обязательств согласно условиям настоящего Договора.
    11.7.4. Направление Пользователю информации об услугах, новостях Органзатора и (или) партнеров Организатора .
    11.7.5. Передачу персональных данных Пользователя третьим лицам в целях исполнения Заказа.
    11.8. Организатор обрабатывает только данные Пользователя, которые необходимы для исполнения настоящего Договора.
    11.9. Организатор обязуется приложить все усилия для обеспечения конфиденциальности данных, размещенных Пользователем посредством Сервиса, на весь период использования Сервиса Пользователя.

    <strong>12. Иные положения</strong>

    12.1. Стороны осуществляют взаимодействие по реквизитам:
    12.1.1. для Организатор – указанным на странице Курса;
    12.1.2. для Пользователя – указанным при оформлении Заказа.
  </p>
</main>

{{template "footer" .}}

<script src="/web/static/js/app.js"></script>
<script src="/web/static/js/utils.js"></script>

</body>
</html>
