<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Курсы по 3D-печати</title>
    <link rel="stylesheet" href="/web/static/css/main.css">
    <link rel="stylesheet" href="/web/static/css/auth.css">
    <link rel="stylesheet" href="/web/static/notify/simple-notify.css"/>
</head>
<body>
{{template "header" .}}

<main id="main" class="container">
    <h1 class="main-header">Политика конфиденциальности</h1>

</main>

{{template "footer" .}}

<script src="/web/static/js/app.js"></script>
<script src="/web/static/js/utils.js"></script>

</body>
</html>
