.course-latex-container {
    position: relative;
    width: 100%;
}

#course-content {
    width: 100%;
    height: auto;
    margin: 2rem 0 4rem 0;
}

.tests-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 55%;
    gap: .8rem;
}

.test-card {
    display: flex;
    align-items: stretch;
    height: 3rem;
    background: var(--bg-color3);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.test-card .test-name {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 1rem;
}

.test-name svg {
    opacity: 0;
    visibility: hidden;
    margin-left: .2rem;
    transition: .3s ease-in-out;
}

.test-name:hover svg {
    opacity: 1;
    visibility: visible;
}

.test-card .test-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    color: var(--font-color2);
    padding: 0 .5rem;
    background: #cccccc;
}

.test-progress {
    width: 18%;
    margin: auto 0;
}

.test-status.passed {
    background: #0055ff;
    color: #ffffff;
}

.course-progress {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: var(--bg-color3);
    border-radius: 8px;
}

.svyaz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: var(--white-color);
    color: var(--font-color3);
    border: 1px solid var(--primary-border-color);
    padding: 1.5rem;
    margin: 4rem 0;
}

.svyaz h2 {
    color: var(--font-color2);
}

.svyaz svg {
    color: var(--font-color2);
}

.svyaz a {
    text-align: center;
}

.homeworks {
    margin: 4rem 0;
}

.instructor-card {
    display: flex;
    padding: 30px;
    background: var(--bg-color3);
    border-radius: 15px;
    margin-top: 1rem;
}

.instructor-photo {
    flex: 0 0 300px;
    margin-right: 30px;
}

.instructor-photo img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
}

.instructor-name {
    color: var(--font-color2);
    font-size: 2rem;
    margin-bottom: 10px;
}

.instructor-title {
    color: var(--font-color3);
    margin-bottom: 25px;
}

.instructor-quote blockquote {
    font-style: italic;
    color: var(--font-color4);
    border-left: 4px solid #0055ff;
    padding-left: 20px;
    margin: 20px 0;
}

.instructor-details {
    margin: 25px 0;
    padding: 0;
    list-style: none;
}

.instructor-details li {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

.instructor-details li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 15px;
    height: 15px;
    background-color: #0055ff;
    border-radius: 50%;
}

.instructor-contacts {
    background: var(--bg-color2);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #bcbcbc;
    margin-top: 20px;
}

.instructor-contacts h3 {
    margin-top: 0;
    color: var(--font-color2);
}

.instructor-contacts a {
    color: #0055ff;
    text-decoration: none;
    transition: all 0.3s;
}

.instructor-contacts a:hover {
    text-decoration: underline;
    opacity: .8;
}

.course-latex-container h1 {
    color: var(--accent-color);
}

#course-content {
    border-bottom: 2px dashed var(--accent-color);
}

#course-content h2 {
    margin-top: 4rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--primary-border-color);
}

#course-content h3, #course-content h2 {
    margin-bottom: 1rem;
}

#course-content p {
    line-height: 180%;
    margin-bottom: 2rem;
}

#course-content ol, #course-content ul, pre {
    padding: 1rem;
    background: var(--bg-color3);
    border-radius: 15px;
    margin-bottom: 2rem;
}
#course-content ul {
    list-style-type: circle;
}

#course-content li {
    line-height: 180%;
    margin-left: 1rem;
}

pre {
    font-style: italic;
}

#course-content img {
    border-radius: 15px;
    margin-bottom: 2rem;
    border: 1px solid var(--primary-border-color);
}


#course-content .accent-block {
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid var(--accent-color);
}