body {
    background: #fafafa;
}

.test-container {
    width: 85%;
    margin: 4rem auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 3rem 8rem;
    color: #333;
}

.test-header {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

}

.test-title {
    font-size: 1.5rem;
    border-bottom: 2px dashed #0055ff;
}

.test-time {
    border: 1px solid #ccc;
    padding: 0.75rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.question-navigation-wrapper {
    overflow-x: hidden;
}

.question-navigation {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1rem;
    user-select: none;
}

.question-navigation {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    padding: 1rem 0;
}

.question-label input {
    display: none;
}

.question-label {
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.question-label span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #86b0ff;
    background-color: #ffffff;
    border-radius: 8px;
}

.question-label input:checked + span {
    border: 2px solid #0055ff;
}

.question-label.active span {
    border: 1px solid #86b0ff;
    background-color: #d1e0ff;
}

.question-box {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 2.5rem;
    border-radius: 8px;
    background-color: #fff;
    font-size: 1.2rem;
}

.answers-box {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #fff;
}

.answers-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.answers-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.answers-list li {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    padding: .2rem 0;
    cursor: pointer;
}

.answers-list li > * {
    width: 100%;
    color: #555555;
    line-height: 1.8;
    cursor: pointer;
}

.answers-list input[type="radio"],
.answers-list input[type="checkbox"] {
    scale: 1.8;
    transform: translateY(-1px);
    margin-right: .8rem;
    margin-left: .5rem;
    vertical-align: middle;
    cursor: pointer;
}

.test-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.next-button,
.finish-button {
    border: none;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.next-button {
    background-color: #d1fae5;
    color: #065f46;
}

.next-button:hover {
    background-color: #a7f3d0;
}

.finish-button {
    background-color: #f3f4f6;
    color: #1f2937;
}

.finish-button:hover {
    background-color: #e5e7eb;
}

@media (max-width: 600px) {
    .test-buttons {
        flex-direction: column;
        align-items: center;
    }
}